@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fa {
  cursor: pointer;
  opacity: 0.66;
}

html {
  width: 2560px;
  height: 1440px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #36454f;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0.5rem;
  padding: 0;
}

input {
  border-radius: 3px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.width-350px {
  width: 350px;
}

.absolute {
  position: absolute;
}

.container {
  display: flex;
  flex-direction: row;
}

.controller {
  z-index: 1000;
}

.controller-icons {
  display: flex;
  justify-content: space-between;
  margin: .5rem;
  padding: .5rem;
  background-color: lightsteelblue;
  border-radius: 5px;
  scale: 1.2;
}

.controller-body {
  position: fixed;
  background-color: dimgray;
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.controller-hidden {
  transform: translateX(-100%);
}

.controller-show {
  transform: translateX(0);
}

.layers {
  margin: 1rem 0;
}

.layers-header {
  display: flex;
  justify-content: space-between;
  padding: 0 .75vh;
  background-color: lightsteelblue;
}

.layers-header i {
  margin: 0 .5rem;
  padding: .2rem;
  scale: 1.2;
}

.layers-header i:hover {
  background-color: darkgray;
  border-radius: 3px;
}

.layers p {
  display: flex;
  justify-content: space-between;
  padding: .75vh;
  margin: 0;
  background-color: lightsteelblue;
}

.layers-body {
  width: 315px;
  height: 30vh;
  overflow-y: auto;
  /* background-color: slategray; */
}

.layer {
  display: flex;
  justify-content: space-between;
  padding: .75vh;
  background-color: #ccc
}

.layer:hover {
  cursor: pointer;
}

.layer-active {
  background-color: darkgray;
}

.media-control {
  margin: 1rem 0;
  width: 350px;
}

.media-control-header {
  display: flex;
  justify-content: space-between;
  padding: 1vh;
  font-size: 1.15rem;
}

.media-control-body div {
  margin: 0.5rem;
}

#inner-text-input {
  resize: none;
}

.checkbox {
  margin: 0 0.5rem;
}

.range-slider {
  width: 90%;
}

#image-source-input {
  width: 300px;
}

.number-input {
  width: 60px;
}

.button {
  color: white;
  background-color: steelblue;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.media-card {
  position: absolute;
  border: 1px solid transparent;
}

.media-card:hover {
  border: 1px solid white;
  cursor: move;
}

.media-card img {
  display: block;
  border: none;
}

#media-name-input {
  width: 150px;
}

.media-text {
  margin: 0;
  padding: 0;
  color: white;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
  font-size: 16px;
  white-space: pre;
}

.hidden-card {
  border: 1px solid darkred;
}

.active-card {
  border: 1px solid teal;
}

.canvas-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2560px;
  height: 1440px;
  overflow: auto;
}

#twitch-embed {
  border: 1px solid white;
}

div iframe {
  vertical-align: middle;
}